@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.date-picker {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 32px;
    width: 100%;
    outline: none;
    border-radius: 2px;
    padding: 0 !important;
}

.date-picker * {
    user-select: none;
}

.date-picker__input {
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px 12px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.date-picker__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #666666;
    cursor: pointer;
    font-size: 16px;
}

.date-picker__calendar {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    height: auto;
    width: 320px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.051);
    border-radius: 4px;
    background-color: #FFFFFF;
    z-index: 9;
}

.date-picker__calendar.active {
    display: block;
}

.date-picker__calendar-select {
    width: 169px;
    height: 24px;
    display: flex;
    position: relative;
    user-select: none;
}

.date-picker__calendar-select-list {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    display: none;
    height: 111px;
    flex-direction: column;
    width: 175px;
    box-sizing: border-box;
    overflow: auto;
    padding: 8px 7px;
    z-index: 9;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.051);
    border-radius: 4px;
}

.date-picker__calendar-select-list.active {
    display: flex;
}

.date-picker__calendar-select-list::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
.date-picker__calendar-select-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
.date-picker__calendar-select-list::-webkit-scrollbar-thumb {
    background: #9E9E9E;
    border-radius: 4px;
  }

.date-picker__calendar-select-list-item {
    height: 32px;
    width: 100%;
    padding: 9px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
}

.date-picker__calendar-select-list-item.active {
    background-color: rgba(80,184,60,0.1);
}

.date-picker__calendar-select-list-item:hover {
    background-color: rgba(80,184,60,0.1);
}

.date-picker__calendar-header {
    padding: 27px 24px 13px 24px;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker__calendar-switch-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.date-picker__calendar-switch-chevron {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}

.date-picker__calendar-switch-next,
.date-picker__calendar-switch-pre {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.date-picker__calendar-switch-chevron .fa {
    font-weight: 200;
    color: #1D2634;
    font-size: 11px;
}

.date-picker__calendar-body {
    padding: 0px 24px 11px;
    box-sizing: border-box;
}

.date-picker__calendar-body-table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    user-select: none;
}

.date-picker__calendar-body .date-picker__calendar-table-row--header {
    color:#666666;
    font-size: 14px;
    font-weight: 400px;
    text-transform: uppercase;
    display: flex;
    gap: 8px;
}

.date-picker__calendar-body .date-picker__calendar-table-row {
    display: flex;
    gap: 8px;
}

.date-picker__calendar-body .date-picker__calendar-table-row div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.date-picker__calendar-body .date-picker__calendar-table-row div.day:hover{
    background-color: #51b83c57;
    border-radius: 50%;
    color: #FFFFFF;
}

#date-picker__calendar-table-inside {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-picker__calendar-select-text {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#date-select {
    color: #1D2634;
    font-size: 16px;
    font-weight: bold;
}

#open-select-date-picker {
    color: #65696E;
    font-size: 10px;
}

.date-picker__calendar-footer {
    height: 48px;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #66666679;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-picker__today {
    color: #50B83C;
    font-weight: 500px;
    cursor: pointer;
}

.day.active {
    background-color: #50B83C;
    border-radius: 50%;
    color: #FFFFFF;
}