.ms-checkbox-border {
    top: 0;
    left: 0;
    transition: all .2s ease;
    transform: rotate(-90deg);
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #afafaf;
}
.disabled-color {
    background-color: #e8e9ec;
}