.combobox-input
{
    display: flex;
    min-height: 32px;
    border: 1px solid #babec5;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.combobox-input .selected-options
{
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100% - 32px);
    align-items: center;
    padding: 0 0 0 10px;
}
.combobox-input .selected-options .combo-input 
{
    border: none;
    font-size: 13px;
    padding-right: unset;
    text-overflow: ellipsis;
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    width: 100%;
    outline: none;
}
.combobox-input .selected-options .combo-input:focus
{
    outline: none;
}
.btn-dropdown 
{
    width: 32px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.combo-menu 
{
    z-index: 10003;
    position: absolute;
    background-color: #fff;
    border: 1px solid #babec5;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 -8px 34px 0 rgb(0 0 0 / 5%);

    top: calc(100% + 10px);
    left: 0;
    min-width: 392px;
}

.combo-menu-header 
{
    background-color: #f4f5f8;
}
.menu-table {
    width: 100%;
    border-collapse: collapse;
}

.menu-table-header 
{
    color: #111;
    height: 32px;
}

.combo-menu .menu-header-container .menu-header th[data-v-ad507680] {
    padding: 0 10px;
    height: 32px;
}

.menu-table-body-tr
{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    font-weight: 700;
}
.menu-table-body-tr--active 
{
    color: #35bf22;
    background-color: #ebedf0;
}
.menu-table-body-td-selected 
{
    width: 36px;
    height: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }



